<mat-toolbar color="primary" class="custom">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
<div class="content">
  <h2>
    Lista de usuarios
  </h2>
  <app-add></app-add>
  <br>  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
          Aplicar filtros
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput>
    </mat-form-field>

  </mat-expansion-panel>
  <app-table 
    [data]="users"
    (onDelete)="deleteUser($event)"
    class="table"></app-table>
</div>