<mat-card class="wrapper">
    <form>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Código</mat-label>
                <input matInput placeholder="DDmmAA">
                <mat-icon matSuffix></mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Usuario">
                <mat-icon matSuffix>person</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary">Primary</button>
        </mat-card-content>
    </form>
</mat-card>
